<h1>Editing bar table</h1>

<%= render "form", bar_table: @bar_table %>

<br>

<div>
  <%= link_to "Show this bar table", @bar_table,class:"btn btn-warning"%>
  <%= link_to "Back to bar tables", bar_tables_path, class:"btn btn-dark" %>
</div>
